*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        /* For WebKit (Chrome, Safari, etc.) */
        &::-webkit-scrollbar {
            width: 8px; /* width of the scrollbar */
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent; /* color of the scrollbar track */
        }


        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: yellowgreen; /* color of the scrollbar handle */
            border-radius: 6px; /* roundness of the scrollbar handle */
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555; /* color of the scrollbar handle on hover */
        }

}

body{
    width:1311px;
}




@mixin sideIcon(){
    aside{

            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row;
            background-color: rgb(16, 16, 17);

            border: 1px solid black;
            padding:10px 15px;
            height:100%;

        .center_icon{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;

            gap:15px;

            button{
                color: ghostwhite;
                outline:0;
                border:none;
                background-color: transparent;
                cursor: pointer;
                padding:10px;
                

                &:hover{
                    background-color: rgba(63, 63, 240, 0.199);
                    color: rgb(220, 220, 241);
                    border-radius: 10px;
                }
            }
        }
    }
}




@mixin main(){
    main{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        height:100%;
        // border: 1px solid ghostwhite;

        .nav{
                width:100%;
                color:ghostwhite;
                padding:20px;
                font-weight: bold;
                // border: 1px solid ghostwhite;
        }

        .display{
            flex: 1;
            height:100%;
            width:100%;
            color: ghostwhite;
            padding:20px;
            overflow: auto;
            flex-wrap: wrap;

            .search{
                padding:20px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .searchicon{
                    color: rgba(248, 248, 255, 0.87);
                }

                input{
                    border:none;
                    outline:0;
                    padding:5px 10px;
                    font-size: x-large;
                    width:100%;
                    color: ghostwhite;
                    background-color: transparent;
                }
            }


            .display_people{
            
                margin-top:20px;
                padding:10px;
            

                #loadMoreBtn{
                    width:100%;
                    margin-top:20px;
                    padding:10px 15px;
                    overflow: hidden;
                    border:none;
                    border-radius:6px;
                    outline:0;
                    font-size: medium;
                    background-color: rgb(26, 26, 29);
                    color: ghostwhite;
                    cursor: pointer;
                    font-size: larger;
                    font-weight: bold;
                }

                
                .people{
                    display: inline-block;
                    margin:15px;
                    width:260px;
                    height:250px;
                    background-color: rgba(14, 14, 22, 0.199);
                    border: 1px solid rgba(248, 248, 255, 0.336);
                    border-radius:10px;
                    overflow: hidden;
                    padding:15px;

                    .avater{
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        flex-flow: row;

                        .imgs{
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            width:45px;
                            height:45px;
                            border: 1px solid ghostwhite;
                            border-radius: 5px;
                        }

                        .tags{
                            font-size: small;
                            text-transform: uppercase;
                        }
                    }


                    .content{
                        margin-top:15px;
                        line-height:16px;

                        small{
                            color: rgba(248, 248, 255, 0.39);
                        }


                        .email{
                            margin-top:15px;
                            .mail{
                                cursor: pointer;
                                color: rgba(250, 250, 250, 0.952);
                                transform: .5s;
                                padding:5px 10px;
                                background-color: rgb(22, 22, 26);
                                border-radius: 10px;
                                font-size: smaller;

                                &:hover{
                                    color: greenyellow;
                                }

                                svg{
                                    padding:0px;
                                    margin: 0px;
                                }
                            }
                        }


                        .progress{
                            margin-top:20px;


                            .states{
                                width:100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                flex-flow: row;
                            }

                            .prog{
                                width:100%;
                                height:5px;
                                background-color: rgba(248, 248, 255, 0.123);
                                border-radius:10px;
                                margin-top:5px;
                                overflow: hidden;

                                .level{
                                    height:100%;
                                    background-color: greenyellow;
                                    border-radius:10px;
                                }
                            }
                        }
                        
                    }


                    .btn_area{
                        margin-top:20px;
                        
                        button{
                            overflow: hidden;
                            border:none;
                            padding:6px 18px;
                            border-radius:6px;
                            outline:0;
                            font-size: medium;
                            background-color: rgb(26, 26, 29);
                            color: ghostwhite;
                            cursor: pointer;

                            &:hover{
                                background-color: rgb(12, 12, 14);  
                            }
                        }

                        
                    }
                }
            }

        }
    }
}




















.side_info{
    z-index:99;
    position: absolute;
    top:0; right:0;
    height:100%;
    
    

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;


    
    .info_display{
        color: ghostwhite;
        width:300px;
        height:100%;
        background-color: rgb(16, 16, 17);
        overflow: auto;

        /* For WebKit (Chrome, Safari, etc.) */
        &::-webkit-scrollbar {
            width: 3px; /* width of the scrollbar */
        }

        .information{
            padding:15px;
            position: relative;
            background-color: #0a0a0a;

                    


            .avatar{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-flow: row;

                .img_ava{
                    height:75px;
                    width:75px;
                    border-radius:8px;
                    border: 1px solid ghostwhite;
                }
                .tags_display{
                    position: absolute;
                    top:8%;
                    right:5%;

                    .tags{
                        text-align: right;
                        font-size: x-small;
                        margin-top:10px;
                        
                        span{
                            background-color: #555;
                            padding:3px 10px;
                            border-radius: 5px;
                            margin-top:5px;
                            font-weight: bold;
                            cursor: pointer;
                        }
                    }
                }
            }

            .avatar_name{
                margin-top:13px;
                line-height:20px;
            }

            .avatar_btn{
                margin:15px 0px 9px 0px;
                        
                button{
                    overflow: hidden;
                    border:none;
                    padding:6px 18px;
                    border-radius:6px;
                    outline:0;
                    font-size: medium;
                    background-color: rgb(26, 26, 29);
                    color: ghostwhite;
                    cursor: pointer;

                    &:hover{
                        background-color: rgb(12, 12, 14);  
                    }
                }
            }
        }



        .info_slider{
            margin-top:10px;
            padding:10px;
       
            .header_slider{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-flow: row;
                width:100%;

                a{
                    text-decoration: none;
                    color: ghostwhite;
                }
            }





            .sliders{
                padding:10px;
                border-radius: 5px;
                height:100%;
                overflow: auto;
                // border: 1px solid yellow;
                position: relative;
                overflow-x: auto; /* Enable horizontal scrolling */
                white-space: nowrap; /* Prevent items from wrapping */

                margin-top:10px;

                /* For WebKit (Chrome, Safari, etc.) */
                &::-webkit-scrollbar {
                    width: 0px; 
                    height:0px;
                }


                 
                .info_items{
                    position: relative;
                    background-color: #0a0a0a;
                    padding:15px 0px;
                    height:125px;
                    width:300px;
                    margin:4px;
                    word-break: break-all;
                    word-wrap: break-word;
                    display: inline-block; /* Display items in a row */
                    vertical-align: top; /* Align items to the top */

                    .paragraph_info{
                        border-left: yellow 3px solid;
                        padding:10px;
                        word-wrap: break-word;
                        word-break: break-all;
                        white-space: wrap;
                        font-size: smaller;
                    }
                }

                .btn_areas{
                    padding:10px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-flow: row;
                    gap:10px;

                    .smallinfo{
                        padding:5px 10px;
                        font-size: small;
                        border-radius:5px;
                        background-color: #333131;
                    }
                }

            }




            .reminder{
                margin-top:10px;

                .progress_task{
                    height:25px;
                    width:100%;
                    
                    margin-top:6px;

                    overflow: hidden;
                    border-radius: 5px;
                    background-color: #0a0a0a;
                    position: relative;

                    .progs{
                        position: absolute;
                        top:0;
                        left:0;
                        height:100%;
                        background-color: rgba(85, 85, 85, 0.533);
                        z-index:9;
                        border-radius: 4px;
                    }
                }

                .notes{
                    position: absolute;
                    top:0;
                    left:0;
                    height:100%;
                    width:100%;
                    z-index:999;
                    font-size: small;

                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    padding:0px 10px;
                    flex-flow: row;

                    .notes_task{
                        text-align: left;
                        width:100%;
                    }

                }
            }





            .particip{
                margin-top:20px;


                .parts_display{

                    .box{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-flow: row;
                        font-size: smaller;
                        cursor: pointer;

                        padding:15px 5px;
                        border-bottom: 1px solid rgba(248, 248, 255, 0.411);
                    }
                }
            }






            

        }

    }


    .navigation{
        background-color: rgb(0, 0, 0);
        padding:10px;
        height:100%;
        color: ghostwhite;

        display:flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        position: relative;

        .close_this{
            position: absolute;
            top:3%;
            left:0;
            width:100%;
            display:flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;

            button{
                color: ghostwhite;
                outline:0;
                border:none;
                background-color: transparent;
                cursor: pointer;
                padding:10px;
                

                &:hover{
                    background-color: rgba(63, 63, 240, 0.199);
                    color: rgb(220, 220, 241);
                    border-radius: 10px;
                }
            }
        }

        .center_icon{
            display:flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            gap:15px;

            button{
                color: ghostwhite;
                outline:0;
                border:none;
                background-color: transparent;
                cursor: pointer;
                padding:10px;
                

                &:hover{
                    background-color: rgba(63, 63, 240, 0.199);
                    color: rgb(220, 220, 241);
                    border-radius: 10px;
                }
            }
        }
    }
    
}






body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    height:100vh;
    width:100%;
    overflow:hidden;

    background-color: rgb(5, 7, 14);

    @include sideIcon();
    @include main();
}



